html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
button {
  text-decoration: none;
  border: none;
  outline: none;
}
